.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  transition: 0.3s;
}

.modal :is(.close, .content) {
  width: min(600px, 100% - 50px);
  margin-inline: auto;
}

.modal .close {
  display: flex;
  justify-content: end;
  color: #217591;
  font-size: 2rem;
  padding: 0 0 10px 0;
  cursor: pointer;
  transition: 0.3s;
}

.modal .close:hover {
  color: #83e0ff;
}

.modal .content {
  height: 85vh;
}
