.formContainer {
  margin-top: 150px;
  width: 100%;
}

.formContainer .form h3 {
  text-align: center;
  margin: 20px;
  letter-spacing: 1px;
  color: #ac8d12;
  font-style: italic;
}

.formContainer .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min(400px, 100% - 30px);
  height: auto;
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
  gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: var(--bgColor);
  box-shadow: var(--boxShadow);
}

.formContainer .form :is(input, select) {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--bgColor);
  background-color: var(--secondary);
  border: none;
}

.formContainer .form input {
}

.formContainer .form select {
}

.formContainer .form .submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* #region Submit button */
.formContainer .form .submit button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 15px;
  border-radius: 20px;
  border: 2px double #0be004;
  background-color: #045701;
  color: #0be004;
  transition: 0.3s;
}

.formContainer .form .submit button:hover {
  color: #045701;
  background-color: #07a101;
  scale: 1.03;
}

.formContainer .form .submit button :first-child {
  display: flex;
  font-size: 1.5rem;
}

.formContainer .form .submit button span {
  display: flex;
  font-size: 1.1rem;
  color: #ffffff;
  letter-spacing: 1px;
}
/* #endregion */

/* #region Add photo */
.formContainer .form input[type="file"] {
  display: none;
}

.formContainer .form .addPhoto {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.formContainer .form .addPhoto p {
  text-align: center;
}

.formContainer .form .addPhoto label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.formContainer .form .addPhoto label :first-child {
  font-size: 30px;
}
/* #endregion */

/* #region DevTool */
.formContainer :is(header, section){
  position: relative;
}
/* #endregion */