.menu {
  font-size: 1.8rem;
  color: #ffffff;
  cursor: pointer;
}

.userItems {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.userItems .icon {
  position: relative;
  color: #ffffff;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.userItems .icon .favorite,
.userItems .icon .garage {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 0.8rem;
  font-weight: 800;
  width: 20px;
  height: 20px;
  color: #ffffff;
  background: var(--secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userItems .avatar {
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
}

.userItems .avatar img {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.userItems .avatar a {
  color: #ffffff;
  font-size: 1.8rem;
}

.userItems .avatar .user {
  display: flex;
  flex-direction: column;
}

.userItems .avatar .user span {
  font-size: 0.7rem;
  color: #ffffff;
}

.userItems .avatar .user a {
  text-decoration: none;
  font-size: 0.7rem;
}
