.filters {
  height: auto;
  width: 50%;
  min-width: fit-content;
  margin: 20px 0;
  padding: 10px;
  background-color: var(--bgColor);
  box-shadow: var(--boxShadow);
  border: 1px solid #ffffff;
  border-radius: 10px;
  text-transform: uppercase;
}

.filters option {
  color: var(--secondary);
}
